<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О программе</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Задание №1</a></li>
            <li><a href="/pages/task_2">Задание №2</a></li>
            <li><a href="/pages/about">О программе</a></li>
        </ul>
    </nav>
</header>
<h1>Отчёт о программе</h1>
<button id="download-report-button" class="button">Скачать отчёт</button>
<h1>Задание №1. Поиск максимума в массиве (Архитектура Гарвардская, двухадресная, без знака)</h1>
<h2>Описание задачи:</h2>
<p>Написать программу на ассемблере, которая находит максимальный элемент в массиве целых чисел без знака, используя
    архитектуру Гарвардская и двухадресные команды.</p>
<h2>Входные данные</h2>
<p>Массив из 6-15 элементов, хранящийся в памяти данных.</p>
<h2>Выходные данные</h2>
<p>Максимальный элемент массива, хранящийся в регистре.</p>
<h2>Регистры</h2>
<p>• AX: Хранит максимальный элемент массива.<br>
    • BX: Указатель на начало массива (хранится в памяти данных).<br>
    • CX: Счетчик элементов массива.<br>
    • DX: Используется для хранения текущего элемента массива</p>
<h2>Код:</h2>
<pre><code><span class="hljs-meta">section</span> .data
    array <span class="hljs-built_in">db</span> <span class="hljs-number">3</span>, <span class="hljs-number">5</span>, <span class="hljs-number">1</span>, <span class="hljs-number">7</span>, <span class="hljs-number">2</span>, <span class="hljs-number">8</span>, <span class="hljs-number">4</span>, <span class="hljs-number">6</span>, <span class="hljs-number">9</span>, <span class="hljs-number">0</span>  <span class="hljs-comment">; массив из 10 элементов</span>
    length <span class="hljs-built_in">db</span> <span class="hljs-number">10</span>                           <span class="hljs-comment">; длина массива</span>
<span class="hljs-symbol">
_start:</span>
    <span class="hljs-comment">; Инициализация указателей и переменных</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">cx</span>, [length]                      <span class="hljs-comment">; длина массива</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">bx</span>, [array]                             <span class="hljs-comment">; указатель массива</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">ax</span>, [<span class="hljs-built_in">bx</span>]                  <span class="hljs-comment">; первый элемент массива как текущий максимум</span>
<span class="hljs-symbol">
next_element:</span>
    <span class="hljs-keyword">inc</span> <span class="hljs-built_in">bx</span>                                 <span class="hljs-comment">; переходим к следующему элементу</span>
    <span class="hljs-keyword">cmp</span> <span class="hljs-built_in">bx</span>, <span class="hljs-built_in">cx</span>                            <span class="hljs-comment">; проверяем, достигли ли конца массива</span>
    <span class="hljs-keyword">jge</span> finish                              <span class="hljs-comment">; если достигли конца, выходим из цикла</span>

    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">dx</span>, [<span class="hljs-built_in">bx</span>]                  <span class="hljs-comment">; загружаем текущий элемент</span>
    <span class="hljs-keyword">cmp</span> <span class="hljs-built_in">ax</span>, <span class="hljs-built_in">dx</span>                              <span class="hljs-comment">; сравниваем с текущим максимумом</span>
    <span class="hljs-keyword">jge</span> next_element                        <span class="hljs-comment">; если текущий элемент меньше, переходим к следующему</span>

    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">ax</span>, <span class="hljs-built_in">dx</span>                              <span class="hljs-comment">; обновляем максимум</span>

    <span class="hljs-keyword">jmp</span> next_element                        <span class="hljs-comment">; продолжаем цикл</span>
<span class="hljs-symbol">
finish:</span>
    <span class="hljs-keyword">ret</span>
</code></pre>
<h2>Объяснение</h2>
<ol>
    <li>Инициализация: Программа загружает сегмент данных, инициализирует CX с размером массива, BX с адресом начала
        массива (из array_ptr) и DX первым элементом массива.
    </li>
    <li>Цикл: В цикле loop_start текущий элемент загружается в AX и сравнивается с DX. Если текущий элемент больше, то
        DX обновляется.
    </li>
    <li>Переход к следующему элементу: BX увеличивается на 2 для перехода к следующему элементу массива (размер слова 2
        байта).
    </li>
    <li>Счетчик: Счетчик CX уменьшается на 1.</li>
    <li>Проверка счетчика: Если CX не равен нулю, цикл продолжается.</li>
    <li>Вывод результата: Максимальный элемент находится в регистре AX. Добавьте код для вывода результата по своему
        усмотрению.
    </li>
</ol>
<h2 id>Заметки:</h2>
<p>• Гарвардская архитектура: Команды и данные хранятся в разных адресных пространствах. В этом примере, array_ptr
    хранит адрес начала массива в памяти данных, доступ к которому осуществляется через ds:bx.<br>
    • Двухадресная команда add: В программе используется add bx, 2 для перехода к следующему элементу массива.<br>
    • Сравнение без знака: Вместо jg используется ja (jump above), чтобы сравнить числа без учета знака.</p>
<h1>Задание №2. Свертка двух массивов (Архитектура Гарвардская, двухадресная, без знака)</h1>
<h2>Описание задачи</h2>
<p>Написать программу на ассемблере, которая выполняет свертку двух массивов с 6 элементами, содержащих целые числа без
    знака, используя архитектуру Гарвардская и двухадресные команды.</p>
<h2>Входные данные</h2>
<p>Два массива (array1 и array2), хранящихся в памяти данных.</p>
<h2>Выходные данные Результат свертки, хранящийся в регистре AX.</h2>
<h2>Регистры</h2>
<p>• AX: Используется для хранения результата свертки.<br>
    • BX: Указатель на первый элемент массива array1 (хранится в памяти данных).<br>
    • CX: Указатель на первый элемент массива array2 (хранится в памяти данных).<br>
    • DX: Счетчик элементов массива.</p>
<h2>Код</h2>
<pre><code><span class="hljs-meta">.data</span>
    array_1 <span class="hljs-built_in">dw</span> <span class="hljs-number">5</span>, <span class="hljs-number">2</span>, <span class="hljs-number">7</span>, <span class="hljs-number">1</span>, <span class="hljs-number">4</span>, <span class="hljs-number">3</span>  <span class="hljs-comment">; Первый массив (без знака)</span>
    array_2 <span class="hljs-built_in">dw</span> <span class="hljs-number">1</span>, <span class="hljs-number">3</span>, <span class="hljs-number">2</span>, <span class="hljs-number">5</span>, <span class="hljs-number">0</span>, <span class="hljs-number">2</span>  <span class="hljs-comment">; Второй массив (без знака)</span>
    array_size <span class="hljs-built_in">dw</span> <span class="hljs-number">12</span>           <span class="hljs-comment">; Размер массива</span>

    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">bx</span>, [array_1]  <span class="hljs-comment">; Загрузка указателя на начало массива array1</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">cx</span>, [array_2]  <span class="hljs-comment">; Загрузка указателя на начало массива array2</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">dx</span>, array_size    <span class="hljs-comment">; Загрузка размера массива</span>
    <span class="hljs-keyword">mov</span> <span class="hljs-built_in">ax</span>, <span class="hljs-number">0</span>             <span class="hljs-comment">; Инициализация результата свертки</span>
<span class="hljs-symbol">
    loop_start:</span>
        <span class="hljs-keyword">mov</span> ex, [<span class="hljs-built_in">bx</span>]      <span class="hljs-comment">; Загрузка текущего элемента array1</span>
        <span class="hljs-keyword">mul</span> ex, [<span class="hljs-built_in">cx</span>]              <span class="hljs-comment">; Умножение текущих элементов</span>
        <span class="hljs-keyword">add</span> <span class="hljs-built_in">ax</span>, ex          <span class="hljs-comment">; Сложение с результатом свертки</span>
        <span class="hljs-keyword">inc</span> <span class="hljs-built_in">bx</span>             <span class="hljs-comment">; Переход к следующему элементу array1</span>
        <span class="hljs-keyword">inc</span> <span class="hljs-built_in">cx</span>             <span class="hljs-comment">; Переход к следующему элементу array2</span>
        <span class="hljs-keyword">cmp</span> <span class="hljs-built_in">cx</span>, <span class="hljs-built_in">dx</span>              <span class="hljs-comment">; проверяем, достигли ли конца массива</span>
        <span class="hljs-keyword">jge</span> finish
        <span class="hljs-keyword">jmp</span> loop_start
<span class="hljs-symbol">
    finish:</span>
        <span class="hljs-keyword">ret</span>
</code></pre>
<h2>Объяснение:</h2>
<ol>
    <li>Инициализация: Программа загружает сегмент данных, инициализирует BX, CX, DX и AX начальными значениями.</li>
    <li>Цикл: В цикле loop_start текущие элементы массивов array1 и array2 умножаются, результат складывается с
        результатом свертки (AX).
    </li>
    <li>Переход к следующему элементу: BX и CX увеличиваются на 2 для перехода к следующему элементу.</li>
    <li>Счетчик: Счетчик DX уменьшается на 1.</li>
    <li>Проверка счетчика: Если DX не равен нулю, цикл продолжается.</li>
    <li>Вывод результата: Результат свертки хранится в регистре AX. Добавьте код для вывода результата по своему
        усмотрению.
    </li>
</ol>
<h2>Заметки:</h2>
<p>• Гарвардская архитектура: Команды и данные хранятся в разных адресных пространствах. В этом примере, array1_ptr и
    array2_ptr хранят адреса начала массивов в памяти данных, доступ к которым осуществляется через ds:bx и ds:cx.<br>
    • Двухадресная команда add: В программе используются add bx, 2 и add cx, 2 для перехода к следующему элементу
    массива.<br>
    • Числа без знака: Программа использует числа без знака, поэтому нет необходимости в команде mul (умножение без
    знака).</p>

<footer>
    <p>&copy; A.Ryanov A.Kutepov @All rights reserved.</p>
</footer>
<script src="../static/js/about.js"></script>
</body>
</html>