<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задание №1</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>
<body onload="updateSliderValue()">
<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Задание №1</a></li>
            <li><a href="#">Задание №2</a></li>
            <li><a href="/pages/about">О программе</a></li>
        </ul>
    </nav>
</header>
<main>
    <div class="container">
        <h1>Поиск максимума в массиве</h1>
        <div class="slider-container">
            <label for="slider">Введите кол-во элементов в массиве:</label>
            <input type="range" id="slider" min="6" max="15" value="6" oninput="updateSliderValue(this.value)">
            <span id="sliderValue">6</span>
        </div>
        <div class="table-container" >
            <table id="array_1">
                <thead>
                <tr>
                    <th>Элемент 1</th>
                    <th>Элемент 2</th>
                    <th>Элемент 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="number" min="0" step="1" id="element1" value="0"></td>
                    <td><input type="number" min="0" step="1" id="element2" value="0"/></td>
                    <td><input type="number" min="0" step="1" id="element3" value="0"/></td>
                </tr>
                </tbody>
            </table>

        </div>
         <div>
         <button id="enter-data-button" class="button" >Занести элементы массива в память</button>
             <output type="text" id="enter-data-output"></output>
         </div>
        <div>
            <h2>Введите ваш код:</h2>
            <textarea class="code-input" id="code_text" placeholder="Введите ваш код здесь..."> mov cx, array_size    ; Загрузка размера массива
    mov bx, [array_ptr]     ; Загрузка указателя на массив
    mov dx, [bx]          ; Инициализация максимального элемента первым элементом

    loop_start:
        mov ax, [bx]      ; Загрузка текущего элемента массива
        cmp ax, dx          ; Сравнение с текущим максимальным элементом
        ja max_found        ; Если текущий элемент больше - обновляем максимальный
        add bx, 2            ; Переход к следующему элементу
        dec cx              ; Декремент счетчика
        jnz loop_start    ; Цикл по массиву

    max_found:
        mov ax, dx          ; Перемещение максимального элемента в AX
</textarea>
        </div>
        <button id="reset-button" class="button" >Начать программу сначала</button>
        <button id="calculate-button" class="button" >Выполнить следующую команду</button>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>PC</th>
                    <th>AX</th>
                    <th>BX</th>
                    <th>CX</th>
                    <th>DX</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="output-container">
                <label for="program_output_info">Вывод:</label>
                <input type="text" id="program_output_info" readonly/>
            </div>
        </div>
    </div>
</main>
<footer>
    <p>&copy; A.Ryanov A.Kutepov @All rights reserved.</p>
</footer>
<script src="../static/js/script.js"></script>
</body>
</html>